<div style="display: flex; justify-content: center">
  <img src="/icons/droplet_logo.svg" alt="Droplet" class="logo">
</div>
<mat-nav-list>
  <mat-divider class="logo-divider"></mat-divider>
  <a mat-list-item routerLink="/dashboard/home" routerLinkActive="active">
    <mat-icon aria-hidden="false" aria-label="Dashboard" fontIcon="home" matListItemIcon></mat-icon>
    <span matListItemTitle>Dashboard</span>
  </a>
  <a mat-list-item routerLink="/dashboard/notifications" routerLinkActive="active">
     <mat-icon aria-hidden="false" aria-label="Alerts" fontIcon="notifications" matListItemIcon></mat-icon>
    <span matListItemTitle>Alerts</span>
  </a>
  <a mat-list-item>
    <mat-icon aria-hidden="false" aria-label="Alerts" fontIcon="folder_open" matListItemIcon></mat-icon>
    <span matListItemTitle>Monitoring</span>
  </a>
  <a mat-list-item>
    <mat-icon aria-hidden="false" aria-label="Alerts" fontIcon="inventory" matListItemIcon></mat-icon>
    <span matListItemTitle>Inventory</span>
  </a>
  <a mat-list-item routerLink="/dashboard/support" routerLinkActive="active">
    <mat-icon matListItemIcon>support</mat-icon>
    <span matListItemTitle>Support</span>
  </a>
  <a mat-list-item>
    <mat-icon aria-hidden="false" aria-label="Alerts" fontIcon="credit_card" matListItemIcon></mat-icon>
    <span matListItemTitle>Billing</span>
  </a>
</mat-nav-list>
<mat-divider class="logo-divider"></mat-divider>
<button mat-icon-button (click)="logout()" class="logout-btn" title="Cerrar Sesión">
  <mat-icon>logout</mat-icon>
</button>
