# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Compilados Angular
/dist/
/.angular/cache/
/.angular/

# Archivos temporales
*.tmp
*.temp
*.swp
*.swo

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.*

# Salidas de cobertura y pruebas
/coverage/
/coverage-*

# Archivos de configuración de IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de producción
/build/

# Otros
*.log

# Archivos generados por json-server
*.db.json

# Archivos de configuración personal
*.local.js
*.local.json

# Archivos de entorno Angular
src/environments/environment.prod.ts

