/* Apply typography styles for titles and paragraphs */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--mat-sys-on-surface);
}

p, span, li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--mat-sys-on-surface);
}

/* Define hierarchy with contrasting sizes */
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}
